@CHARSET "UTF-8";
html{height:100%}
body {
    /*background: -webkit-radial-gradient(circle, #fefefe, #59909e); /* Chrome10+,Safari5.1+ */
  /*background: -webkit-linear-gradient(-45deg, #59909e, #9cc1c9); /* Chrome10+,Safari5.1+ */
  /*background: rgba(80, 187, 219, 1);*/
  background: rgba(99, 96, 87, 1);
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  font-family: "Microsoft YaHei", SimSun, SimHei, STHeiti;
  height:100%;
}


body.welcome-body {
	background: #fff;
}

.body {
  	background: url(../img/bg_repeat.png) repeat;
	/*background: url(../img/bs-docs-masthead-pattern.png) repeat;*/
    height:100%;
}

.footer {
	padding: 20px 0 10px 0;
	margin-top: 15px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  height:100%;
  position: relative;
  padding: 3px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
   background: #1A3C6C;
 /* background-image: url(/assets/img/bg_repeat.png);*/
  background-size: 100% 100%;
  /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#022011), color-stop(100%,#688652)); /* Chrome,Safari4+ */
  /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(30, 30, 30, 1)), color-stop(100%,rgba(30, 30, 30, 1))); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(45deg,  #022011 0%,#688652 100%); /* Chrome10+,Safari5.1+ */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

.jumbotron .btn {
	margin-left: 10px;
	margin-right: 10px;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
  padding-top: 80px;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 10% 0 5%;
  
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 15px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}


/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
  padding-top: 10px;
}
.subhead h1 {
  font-size: 20px;
}
.subhead small {
	font-size: 15px;
	color: #fff;
}
.subhead .navbar {
  display: none;
}

.navbar.navbar-inverse .navbar-inner {
	/*background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%);*/
	background: -webkit-linear-gradient(0deg, #333 0%,#333 110%); /* Chrome10+,Safari5.1+ */
	/*border-color: transparent;*/
	border-top: 2px solid yellow;
}

.navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  opacity: 0.82;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
}
.navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  opacity: 1;
}

.side-menu-inner {
	height: 370px;
	padding: 0px 15px;

}

#accordion1 .accordion-group {
	width: 100%;
	/*background: rgba(203, 233, 243, 1);*/
	background: rgba(154, 154, 154, 1);

	margin-bottom: 1px;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

#accordion1 .accordion-heading .accordion-toggle {
	padding-right: 4px;
	/*font-weight: bold;*/
	color: #fff;
}

#accordion1 .accordion-heading .accordion-toggle:HOVER {
	text-decoration: none;
}

.icon-folder {
	float: left;
}


.accordion-toggle .icon-folder {
	/*background-position: -408px -120px;*/
    /*background-position: -312px -144px;*/
	background: url(/assets/img/spriteRoundedIconsLarge.png) no-repeat -25px top;
	width: 25px !important;
	height: 25px !important;
	margin-top: -2px;
}

.accordion-toggle.collapsed .icon-folder {
	/*background-position: -384px -120px;*/
	/*background-position: -240px -144px;*/
	background: url(/assets/img/spriteRoundedIconsLarge.png) no-repeat 0px top;
	width: 25px !important;
	height: 25px !important;
	margin-top: -2px;

}

/* ---- 设施显示页面 ---- */

.view-sandmap {
	min-height: 550px;
	border: 1px solid #eee;
	position: relative;
	overflow: auto;
}

.view-sandmap .view-item {
	position: absolute;
	padding-top: 6px;
	min-height: 20px;
	vertical-align: middle;
}

.view-item:HOVER {
	cursor: default;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.view-sandmap .view-item .view-item-label {
	color: #ff0;
}

.view-sandmap .view-item .view-item-remove {
	position: absolute;
	right: -10px;
	top: -10px;
	-webkit-border-radius: 10px;
}

.menu-list {
	width: auto;
	position: static;
	top: 50px;
	border: 10px solid rgba(203, 233, 243, 1);
	border-radius:5px;
	background-color: rgba(203, 233, 243, 1);
	/*margin-bottom: 180px;*/
}

/* 内容框 */
.textbox-holder {
	padding: 1px;
	/*background-color: whiteSmoke;*/
	background-color: rgba(200,200,200,1);
	border: 1px solid rgba(0, 0, 0, 0.2);
	/*-webkit-border-radius: 6px;*/
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
}

.textbox-holder .textbox-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	text-align: middle;
	background-color: rgba(190,190,190,1);
	border-bottom: 1px solid #EBEBEB;
	-webkit-border-radius: 5px 5px 0 0;
}

.textbox-holder .textbox-bigtitle {
	padding: 8px 14px;
	margin: 0;
	font-weight: bold;
	line-height: 40px;
	text-align: middle;
	background-color: transparent;
	-webkit-border-radius: 5px 5px 0 0;
}

.textbox-holder .textbox-content {
	background-color: rgba(255,255,255,0.6);
	/*background-color: #e6e6e6;*/
}

.mytab {
	color: #666;
	background-color: rgba(255, 255, 255, 0.4)
}

.mytab_cop {
	color: #666;
	font-size: 10px;
	height: 12px;
	background-color: rgba(200, 200, 200, 0.5)
}

table .mythread {
	background-color: rgba(255, 255, 255, 0.5)
}

table .oddrow {
	background-color: rgba(255, 255, 255, 0.5)
}

table .evenrow {
	background-color: rgba(255, 255, 255, 0.5)
}

.shadow-font {
	/*font-family: "黑体";*/
	font-weight: bold;
	font-size: 13px;
	color: whiteSmoke;
	margin: 5px 10px;
	text-shadow: grey 2px 2px 10px;
}

.myspan12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.myspan11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.myspan10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.myspan9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.myspan8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.myspan7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.myspan6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.myspan5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.myspan4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.myspan3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.myspan2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.myspan1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.btn-custom {
  background-color: hsl(159, 0%, 67%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8d8d8", endColorstr="#aaaaaa");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d8d8d8), to(#aaaaaa));
  background-image: -moz-linear-gradient(top, #d8d8d8, #aaaaaa);
  background-image: -ms-linear-gradient(top, #d8d8d8, #aaaaaa);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(top, #d8d8d8, #aaaaaa);
  background-image: -o-linear-gradient(top, #d8d8d8, #aaaaaa);
  background-image: linear-gradient(#d8d8d8, #aaaaaa);
  border-color: #aaaaaa #aaaaaa hsl(159, 0%, 62.5%);
  color: white !important;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;
  text-align:left;
	
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	color: white;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(223, 170, 42, 1);
}


.nav-list > li > a, .nav-list .nav-header {
	color: black;
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
	
	border-bottom: 1px solid #666;
}

.nav-list > li {
	line-height: 24px;
}
